@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

nav {
  height: 40px;
  background-color: rgb(58, 134, 255);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 54, 158);
}

.nav li {
  display: inline-block;
}

.pet-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid rgb(58, 134, 255);
}

.pet-list {
  height: 200px;
  width: 200px;
  list-style: none;
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}

.pet-name {
  text-align: center;
  width: 200px;
  margin-top: 0;
  box-sizing: border-box;
}

.title {
  text-align: right;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  margin: 10px;
  -webkit-text-stroke: 1px rgb(255, 255, 255),;
  color: rgb(58, 134, 255);
  text-shadow:  
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), 
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(109, 109, 109, 0.7);
}

.pet-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: rgb(58, 134, 255);;
  padding: 14px 28px;
  border-radius: 6px;
  max-width: 600px;
  min-width: 300px;
}

.small-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}
.pet-content {
  display: inline-block;
}

.name-info {
  font-family: "Pacifico", cursive;
}

.search {
    margin: 15px;
}
